* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --minColor: #1C1C1C ;
}
html
{
    scroll-behavior: smooth;
}
body {
font-family: 'Montserrat', sans-serif;
}

input , textarea {
 border: 0px !important;
 background-color: #F4F4F4 !important;
}
h1 {
    font-size: 90px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}
p {
    font-size: 40px;
}
button {
    width: 240px;
    height: 75px;
    background-color: blue;
    color: white;
}
button:hover {
    background-color: green;
}